@import "normalize.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main-table-frame::-webkit-scrollbar {
    background-color: #fff;
    height: 8px;
  }

  .main-table-frame::-webkit-scrollbar-thumb {
    background-color: rgba(206, 212, 218, 0.5);
    border-radius: 24px;
  }
}

#nprogress .bar {
  height: 3px;
}

#nprogress .peg {
}
